<h1>Student Dashboard</h1>

<table>
  <tbody>
    <th>Name</th>
    <tr><td>
      <% student = Student.find_by_id(session[:student_id]) %>
      <%= student.name.capitalize %></td></tr>
    <article>
      <th>Achievements</th>
      <% student.achievements.each do |a| %>
        <tr><td><%= a.name %></td></tr>
      <% end %>
      <tr><td>Total Points <%= student.total_points %></td></tr>
      <tr><td>Grade <%= student.grade(student.total_points) %></td></tr>
  </article>
  </tbody>
</table>


<%= link_to 'Change your password', edit_student_path(Student.find_by(id: session[:student_id] )) %>
