<h1>Student Dashboard</h1>
<h3>Name</h3>
<% student = Student.find_by_id(session[:student_id]) %>
<%= student.name.capitalize %>
<h3>Achievements: </h3>
<% student.achievements.each do |a| %>
  <ul><%= a.name %></ul>
<% end %>
<h3>Total Points: </h3> <%= student.total_points %>
<h3>Grade: </h3><%= student.grade(student.total_points) %><br>



<%= link_to 'Change your password', edit_student_path(Student.find_by(id: session[:student_id] )) %>
