<h1>Teacher Dashboard</h1>

<%= link_to 'Create new grade', new_grade_path %><br><br>

<table>
  <tbody>
      <% Student.get_all_children_for_teacher_id( session[:teacher_id] ).each do |student| %>
        <tr><td><%=  link_to student.name.capitalize, achievements_student_path(student.id)  %></td></tr>
        <th>Achievements</th>
        <% student.achievements.each do |a| %>
          <tr><td><%= a.name %></td></tr>
        <% end %>
        <tr><td>Total Points <%= student.total_points %></td></tr>
        <tr><td>Grade <%= student.grade(student.total_points) %></td></tr>
      <% end %>
  </tbody>
</table>

<%= link_to 'Create new teacher', new_teacher_path %><br>
<%= link_to 'Create new student', new_student_path %><br>
<%= link_to 'Create new parent', new_parent_path %><br>

<%= link_to 'Change your password', edit_teacher_path(Teacher.find_by(id: session[:teacher_id] )) %>
