<h1>Teacher Dashboard</h1>
<p> Click on a Student's name to edit their achievements </p>

<table BORDER="5">
  <tbody>
    <TR>
      <TH COLSPAN="4">
          <H3><BR>Students</H3>
    </TH>
    </TR>
      <% Student.get_all_children_for_teacher_id( session[:teacher_id] ).each do |student| %>
        <tr>
          <th><%=  link_to student.name.capitalize, achievements_student_path(student.id)  %></th>
          <td><h3>Achievements:</h3>
          <% student.achievements.each do |a| %>
            <ul><%= a.name %><ul>
          <% end %></td>
          <td><h3>Total Points</h3> <%= student.total_points %></td>
          <td><h3>Grade</h3> <%= student.grade(student.total_points) %></td>
        </tr>
      <% end %>

  </tbody>
</table>

<%= link_to 'Create new teacher', new_teacher_path %><br>
<%= link_to 'Create new student', new_student_path %><br>
<%= link_to 'Create new parent', new_parent_path %><br>

<%= link_to 'Change your password', edit_teacher_path(Teacher.find_by(id: session[:teacher_id] )) %>
